/* Header */

header {
    background-color: hsla(235, 21%, 21%, 1);
    color: hsla(197, 24%, 94%, 1);
    padding: 0 20px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9998;
    box-shadow: 8px 8px 5px #888888;
}

#title {
    font-size: 36px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    letter-spacing: 3px;
    margin: 15px;
}


/* Main Content Size, Padding, Margins */

html, body {
    /* Required for Google Map #map to fill screen */
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    /* Required for Google Map #map to fill screen */
    height: 100%;
    position: relative;
    overflow: hidden;
}

body {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

h2 {
    font-size: 26px;
    letter-spacing: 2px;
    margin-top: 5px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 16px;
    margin: 15px 0 5px 0;
}

#collapse-btn {
    position: absolute;
    top: 75px;
    z-index: 9999;
    box-shadow: 3px 3px 5px #888888;
}

.location-list {
    position: absolute;
    top: 75px;
    z-index: 9998;
    background-color: hsla(197, 24%, 94%, 1);
    border: 2px solid hsla(235, 21%, 21%, 1);
    box-shadow: 8px 8px 5px #888888;
    padding: 10px;
}

.glyphicon-remove {
    color: red;
}

#map-div {
    padding: 0 0 10px 0;
    margin: 10px;
}

#streetview-img-div {
    padding-top: 15px;
}


/* Loading Circle Animation */

.loader {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid blue;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* Media Queries */

@media only screen and (min-width: 769px) {
    /* On large screens hide button and always show locations */
    #collapse-btn {
        display: none;
    }
    #location-div {
        display: block !important;
    }
}

@media only screen and (max-width: 768px) {
    /* On small screens locations are hidden, show button instead */
    #title {
        font-size: 30px;
        letter-spacing: 3px;
        margin: 10px;
    }
    #collapse-btn {
        top: 60px;
    }
    .location-list {
        top: 95px;
    }
}

@media only screen and (max-width: 500px) {
    #title {
        font-size: 20px;
        letter-spacing: 2px;
        margin: 5px;
        font-weight: 400;
    }
    #collapse-btn {
        top: 40px;
    }
    .location-list {
        top: 70px;
    }
}
