/* Header */

header {
    background-color: hsla(235, 21%, 21%, 1);
    color: hsla(197, 24%, 94%, 1);
    padding: 0 20px;
    position: absolute;
    top: 0;
    z-index: 9999;
}

.title {
    font-size: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    letter-spacing: 3px;
    color: hsla(197, 24%, 94%, 1);
}

.loc-list {
    font-size: 26px;
    font-family: "Roboto", sans-serif;
    letter-spacing: 2px;
}


/* Main Content Size, Padding, Margins */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    /*color: #eee;*/
    background-color: hsla(197, 24%, 94%, 1);
}

.location-list {
    position: absolute;
    top: 100px;
    z-index: 9999;
    background-color: hsla(197, 24%, 94%, 1);
}

#map-div {
    padding: 0 0 10px 0;
    margin: 10px;
}

#map {
    height: 100%;
    position: relative;
    overflow: hidden;
}


/* Colors */

.glyphicon-remove {
    color: red;
}


/* Media Queries */

@media only screen and (max-width: 600px) {
    .title {
        font-size: 36px;
        letter-spacing: 3px;
    }
}

@media only screen and (max-width: 500px) {
    .title {
        font-size: 32px;
        letter-spacing: 2px;
    }
}
